.header {
  height: 70px;
  background: #111827;
  border-bottom: 1px solid #2b3442;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header h1 {
  color: white;
  font-size: 26px;
  font-weight: 700;
}
